[Unit]
Description=Lumos Tempum Daemon
After=network.target

[Service]
WorkingDirectory=/opt/lumostempum
ExecStart=/opt/lumostempum/main.py
NotifyAccess=all
Type=simple
User=%i

[Install]
WantedBy=multi-user.target
